@charset "UTF-8";

html,
body{
 width: 100%;
 overflow-x:hidden;
 margin: 0;
 padding: 0;
}

.mobilenav {
  visibility: hidden;
  position: fixed;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobilenav.open {
  width: 100%;
  opacity: 1;
}
.mobilenav .menutoggle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 23px;
}
.mobilenav .menutoggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #333;
  transform: translateY(-8px);
  transition: 0.5s;
}
.mobilenav.open .menutoggle::before {
  transform:  translateY(0px) rotate(45deg);
}
.mobilenav.open .menutoggle::after {
  transform:  translateY(0px) rotate(-45deg);
  box-shadow: 0 0 0 #333;
}
.mobilenav .menutoggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #333;
  transform: translateY(8px);
  transition: 0.5s;
  box-shadow: 0 -8px 0 #333;
}
.mobilenav ul {
  display: flex;
  padding-right: 80px;
  width: 100%;
}
.mobilenav ul li {
  position: relative;
  width: 25%;
  height: 60px;
  padding: 0 10px;
  transition: 0.5s;
}
.mobilenav ul li.active {
  transform: translateY(15px);
}
.mobilenav.open ul li.active {
  transform: translateY(10px);
}
.mobilenav ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
.mobilenav ul li a .icon {
  position: relative;
  display: block;
  min-width: 55px;
  height: 55px;
  transition: 0.5s;
  line-height: 60px;
  border-radius: 10px;
  font-size: 1em;
  color: #222;
}
.mobilenav ul li.active a .icon {
  color: #fff;
  background: var(--clr);
}
.mobilenav ul li a .icon::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  filter: blur(7px);
  opacity: 0;
  transition: 0.5s;
}
.mobilenav ul li.active a .icon::before{
  opacity: 0.5;
}
.mobilenav ul li a .text {
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  color: #333;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.mobilenav.open ul li a .text {
  opacity: 1;
  visibility: visible;
}
.mobilenav ul li.active a .text {
  color: var(--clr);
}
* {
  font-family: "Poppins";
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
i {
  position: absolute;
  height: 200px;
  background: linear-gradient(transparent, #fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: animate 5s linear infinite;
}
i:nth-child(3n + 1) {
  background: linear-gradient(transparent, #0ff);
}
i:nth-child(3n + 2) {
  background: linear-gradient(transparent, #0f0);
}
i:nth-child(3n + 3) {
  background: linear-gradient(transparent, #f00);
}
/* wrap 시작 */
.wrap .content {
  width: 100%;
  height: 100vh;

  position: relative;
}
.wrap .img-box {
  position: absolute;
  top: 0;
  z-index: -1;
}
.wrap .content .main-tit {
  text-shadow: 1px 0.5px 1px rgba(0, 0, 0, 0.3);
}
.wrap .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap .home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e4e4e4;
}
.wrap .home .drop {
  position: relative;
  height: 300px;
  width: 300px;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.05), 15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .home .drop::before {
  content: "";
  position: absolute;
  top: 85px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
}
.wrap .home .drop::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 90px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
}
.wrap .home .drop ion-icon {
  font-size: 5em;
  color: #444;
}
.wrap .home .text-area {
  white-space: nowrap;
  margin: 0;
  position: fixed;
  color: transparent;
  bottom: 30px;
  left: 30px;
}
.wrap .home .text-area .main_info {
  font-size: 2.5vw;
  font-weight: 300;
}
.wrap .home .text-area .maininfo_sub {
  color: #000;
  font-size: 2.2vw;
  font-weight: 600;
}
.home .main_info::before {
  content: "Web Designer Portfolio";
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 33%;
  color: #000;
  overflow: hidden;
  animation: typing 10s steps(100) infinite;
}
/* home gnb 메뉴 */
.wrap .home .drop .menu {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .home .drop .menu ion-icon {
  color: #000;
  width: 40px;
}
.wrap .home .drop .menu li {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: inline-block;
  left: 50px;
  top: 140px;
  transform-origin: 100px;
  transition: 1s;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(80px);
}
.wrap .home .drop .menu li a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e4e4;
  border-radius: 50%;
  transform: rotate(calc(360deg / 4 * var(--i)));
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  color: #111;
  transition: 0.5s;
}
.wrap .home .drop .menu.active li {
  transform: rotate(calc(-360deg / 4 * var(--i)));
}
.wrap .home .toggle {
  position: absolute;
  color: #000;
  width: 70px;
  height: 70px;
  background: #e4e4e4;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1em;
  transition: 1.25s;
}
.menu.active .toggle {
  position: absolute;
  transform: rotate(315deg);
}
/*  about 부분 */
.wrap .about {
  position: relative;
}
.wrap .container {
  width: 100%;
  height: 100vh;
}
.wrap .about .text-area .main-tit h1 {
  font-size: 80px;
}
.wrap .about {
  background-color: #e4e4e4;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.about i {
  position: absolute;
  background: rgb(255, 255, 255, 0.5);
  border-radius: 100%;
  animation: bubbles linear infinite;
}
.about i:nth-child(even){
  background: transparent;
  border: 1px solid #fff;
  opacity: 0.3;
}
.wrap .about .cardwrap {
  width: 100%;

  justify-content: center;
  display: flex;
  z-index: 1;
}
.wrap .about img {
  width: 100%;
}
.about::before {
  content: "";
  width: 100%;
  height: 100vh;
  background: #ddd;

  position: absolute;
  opacity: 0.2;
}
.about .card {
  position: relative;
  width: 600px;
  height: 400px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  transition: 1s;
  display: inline-block;
  margin: 40px;
  z-index: 12;
}
.about .card:hover {
  transform: scale(1.1);
  background: rgba(255, 255, 255, 0.2);
}
.about .card .content {
  position: relative;
  top: 180px;
  height: 300px;
}
.about .card .content .imgBx {
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.1);
}
.about .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.about .card .content .details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000;
}
.about .card .content .info ion-icon {
  color: #000;
}
.about .card .content .info div {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.about .card .content .info li {
  display: flex;
  font-weight: 600;
  color: #000;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.about .card .content .info span {
  font-size: 18px;
  color: #000;
}
.about .card .content .info .main_txt{
  font-size: 18px;
  font-weight: 600;
  margin-left: 13px;
}
.about .skill-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .skill-card {
  position: relative;
  width: 200px;
  height: 250px;
  justify-content: center;
  text-align: center;
  z-index: 10;
  margin: 20px 30px 60px;
}
.about .skill-card .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  border-radius: 10px;
}
.about .percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 100;
}
.about .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .percent .number h2 {
  color: #fff;
  font-weight: 600;
  font-size: 50px;
}
.about .percent .number h2 span {
  font-size: 24px;
}
.about .skill-text {
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 30px 20px 10px;
  background:#f00;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
  transition: bottom  0.5s, z-index 0s, transform 0.5s, padding 0.5s;
  color: #fff;
}
.about .skill-card:hover .skill-text {
  bottom: -70px;
  z-index: 11;
  transform: translateX(-50%) translateY(-50px);
  padding: 10px 20px 10px;
}
.about .skill-card:nth-child(1) .skill-text {
  background-image :linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  
}
.about .skill-card:nth-child(2) .skill-text {
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  
}
.about .skill-card:nth-child(3) .skill-text {
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
  
}
.about .skill-card:nth-child(4) .skill-text {
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  
}
svg {
  position: relative;
  width: 150px;
  height: 150px;
}
svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.25);
  stroke-linecap: round;
  transform: translate(5px,5px);
}
svg circle:nth-child(2){
  stroke: #fff;
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
}
.skill-card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 80) / 100);
}
.skill-card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 75) / 100);
}
.skill-card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 55) / 100);
}
.skill-card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 60) / 100);
} 
/* 텍스트버블효과  js연동 */
.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
}
/* work시작 */
.wrap .work {
  position: relative;
  background: #e4e4e4;
}
.work .drops1 .drop1 {
  position: absolute;
  left: 300px;
  top: 610px;
  right: 300px;
  width: 250px;
  height: 250px;
  background: transparent;
  border-radius: 57% 43% 37% 63% / 45% 52% 48% 55%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}
.drop1::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 35px;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 42% 58% 37% 63% / 40% 43% 57% 60%;
}
.drop1::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 65px;
  background: #fff;
  width: 15px;
  height: 15px;
  border-radius: 57% 43% 37% 63% / 48% 37% 63% 52%;
}
.drop1:nth-child(2) {
  transform: scale(0.5) translate(-120px, 200px);
  border-radius: 64% 36% 42% 58% / 42% 37% 63% 58%;
}
.drop1:nth-child(3) {
  transform: scale(0.5) translate(-220px, -260px);
  border-radius: 49% 51% 42% 58% / 56% 47% 53% 44%;
}
.drop1:nth-child(4) {
  transform: scale(0.5) translate(400px, 180px);
  border-radius: 39% 61% 63% 37% / 77% 47% 53% 23%;
}
.work .drops2 .drop2 {
  position: absolute;
  right: 300px;
  top: 200px;
  width: 250px;
  height: 250px;
  background: transparent;
  border-radius: 57% 43% 37% 63% / 45% 52% 48% 55%;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.1), 15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
}
.drop2::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 35px;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 42% 58% 37% 63% / 40% 43% 57% 60%;
}
.drop2::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 85px;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 57% 43% 37% 63% / 48% 37% 63% 52%;
}
.drop2:nth-child(2) {
  transform: scale(0.5) translate(-300px, 300px);
  border-radius: 64% 36% 42% 58% / 42% 37% 63% 58%;
}
.drop2:nth-child(3) {
  transform: scale(0.5) translate(280px, 10px);
  border-radius: 49% 51% 42% 58% / 56% 47% 53% 44%;
}
.drop2:nth-child(4) {
  transform: scale(0.5) translate(120px, -350px);
  border-radius: 39% 61% 63% 37% / 77% 47% 53% 23%;
}
.work .pf-imgarea {
  width: 100%;
  margin-left: 50px;
  padding-top: 80px;
}
.work .txt-area {
  margin-bottom: 20px;
  font-weight: 500;
}
.work .pf-list {
  display: inline-block;
  margin-right: 100px;
}
.work .pf-list .pf-box {
  position: relative;
  display: inline-block;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.work .pf-box span {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: -10px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.work .pf-box span::before {
  content: "Click me!";
  font-size: 14px;
  position: absolute;
  width: 150%;
  height: 40px;
  background: #ddd;
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.work .pf-box span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  left: 0;
  background: #ddd;
  z-index: -1;
  box-shadow: 140px - 140px #ddd;
}
.work .pf-list .txt-area {
  justify-content: left;
  display: flex;
  flex-direction: column;
}
.work .pf-list .txt-area .wk-text1 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
.work .pf-list .txt-area .wk-text2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
}
/* 포폴리스트 이미지 호버시 확대 */
.pf-list .img-area img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.pf-list .img-area:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.pf-box .img-area {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.pf-imgarea .site-move {
  margin-top: 10px;
  margin-bottom: 10px;
}
.pf-imgarea .site-move-btn {
  font-size: 16px;
  font-weight: 400;
  background-color: #191919;
  border-radius: 5px;
  border: 1px solid #bbb;

  margin-right: 20px;
  padding: 5px 10px 5px 10px;
  opacity: 0.7;
}
.pf-imgarea .site-move-btn:hover {
  color: #000;
  background-color: #f0f4f0;
  transition: 1s;
  opacity: 1;
}
/* contact 시작 */
.wrap .contact {
  position: relative;
  display: flex;
  padding: 20px;
  background: #e4e4e4;
  justify-content: center;
  align-items: center;
}
.wrap .contact .drop {
  position: relative;
  height: 250px;
  width: 250px;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.05), 15px 25px 10px rgba(0, 0, 0, 0.05), 15px 20px 20px rgba(0, 0, 0, 0.05), inset -10px -10px 15px rgba(255, 255, 255, 0.9);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap .contact .drop::before {
  content: "";
  position: absolute;
  top: 75px;
  left: 35px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
}
.wrap .contact .drop::after {
  content: "";
  position: absolute;
  top: 44px;
  left: 68px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
}
.contact .sub-tit {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  z-index: 999;
}
.contact .sub-tit li {
  color: black;
  font-size: 12px;
  font-weight: 600;
}
.contact .ct-box {
  position: relative;
  z-index: 999;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}
.ct-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.35);
  pointer-events: none;
  transform: skewX(-15deg);
}
.ct-box h2 {
  position: absolute;
  top: 50px;
  width: 100%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 32px;
  margin-bottom: 20px;
}
.ct-box .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.ct-box .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}
.ct-box .row100 .col span,
.ct-box .row100 .col input {
  color: #191919;
}
.ct-box .row100 .col .inputBox{
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
}
.ct-box .row100 .col .inputBox input,
.ct-box .row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.ct-box .row100 .col .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}
.ct-box .row100 .col .inputBox input:focus + .text,
.ct-box .row100 .col .inputBox input:valid + .text,
.ct-box .row100 .col .inputBox textarea:focus + .text,
.ct-box .row100 .col .inputBox textarea:valid + .text 
{
  top: -35px;
  left: -10px;
}
.ct-box .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.ct-box .row100 .col .inputBox input:focus ~ .line,
.ct-box .row100 .col .inputBox input:valid ~ .line {
  height: 100%;
}
.ct-box .row100 .col .inputBox .textarea {
  position: relative;
  width: 100%;
  height: 100%;
  padding:10px 0;
}
.ct-box .row100 .col .inputBox textarea:focus ~ .line,
.ct-box .row100 .col .inputBox textarea:valid ~ .line {
  height: 100%;
}
.ct-box .row100 .col input[type="submit"]{
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  border-radius: 2px;
}
/* 모달 */
.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: none;
}
.close {
  position: absolute;
  top: 90px;
  right: 410px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  transition: 0.3s;
}
.modal .modal_body {
  position: absolute;

  justify-content: center;
  align-items: center;
  transform: translate(40%, 20%);
}
.modal .modal-body .modal_content {
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: -3px 0px 20px 3px rgba(255, 255, 255, 0.5);

  border-radius: 10px;

  animation-name: zoom;
  animation-duration: 0.8s;
}
.close:hover,
.close:focus {
  z-index: 999;
  color: #191919;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal_body .modal_content {
  border-radius: 10px;
  box-shadow: -3px 0px 20px 3px rgba(255, 255, 255, 0.5);
}
.modal .modal_body .modal_txt {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  padding-bottom: 5px;
}
.modal .modal_body .txt1 {
  padding-top: 10px;
}
/* SCROLL */
.scroll {
  position: fixed;
  top: 39%;
  right: 0.5%;
  z-index: 999;
}
.scroll .sc-gnb li {
  padding-bottom: 35px;
  width: 130px;
  height: 60px;
}
.scroll .sc-gnb::before,
.scroll .sc-gnb::after {
  content: "";
  position: fixed;
  border: 1px solid #bbb;
  height: 100%;
  right: 7.4%;
  z-index: 999;
}
.scroll .sc-gnb::before {
  padding-top: 400px;
  top: -1000px;
}
.scroll .sc-gnb::after {
  padding-bottom: 300px;
}
.scroll .sc-gnb a {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: #bbb;
}
.scroll .sc-gnb .active a {
  font-size: 22px;
  color: #000;
}
/* 키프레임 */
@ketframes animate {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(calc(100vh + 200px));
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes sdb10 {
  0% {
    top: 10px;
  }
  100% {
    top: 30px;
  }
}
@keyframes typing {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes bubbles 
{
  0% 
  {
    transform: translateY(0);
    opacity: 0;
  }
  10% 
  {
    opacity: 1;
  }
  90% 
  {
    opacity: 1;
  }
  100% 
  {
    transform: translateY(-2000%);
    opacity: 0;
  }
}
/* 커서포인트 */
.pointer {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #9a9a9a;
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
  transition: all 0.15s;
}
.pointer1 {
  transition: 0.05s;
  opacity: 0.9;
}
.pointer2 {
  transition: 0.06s;
  opacity: 0.7;
}
.pointer3 {
  transition: 0.08s;
  opacity: 0.6;
}
.pointer4 {
  transition: 0.09s;
  opacity: 0.5;
}
.pointer5 {
  width: 9px;
  height: 9px;
  opacity: 0.4;
  transition: 0.1s;
}
.pointer6 {
  width: 9px;
  height: 9px;
  opacity: 0.3;
  transition: 0.11s;
}
.pointer7 {
  width: 8px;
  height: 8px;
  opacity: 0.2;
  transition: 0.12s;
}
.pointer8 {
  width: 7px;
  height: 7px;
  opacity: 0.1;
  transition: 0.13s;
}
.pointer9 {
  width: 6px;
  height: 6px;
  opacity: 0.1;
  transition: 0.14s;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
  max-height: 100%;
  height: 100%;
  border-radius: 50px;
  background: #454545;
}
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
/* 스크롤 애니메이션 */
.scroll-bar a {
  position: absolute;
  bottom: 20px;
  z-index: 9;
  display: inline-block;
  transition: opacity 0.3s;
  padding-top: 50px;
  width: 100%;
  color: #fff;
  text-align: center;
  align-items: center;
}
#scroll-ani a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}
#scroll-ani a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 1s infinite;
  animation: sdb10 1s infinite;
  box-sizing: border-box;
}
@media screen and (max-width:1024px) {
  .wrap .contact {
    padding: 50px;
  }
  .contact .ct-box {
    padding-top: 10px;
  }
  .wrap .contact .drop {
    height: 150px;
    width: 150px;
  }
  .work .pf-list .txt-area .wk-text1 {
    z-index: 1;
  }
  .work .pf-list .txt-area .wk-text2 {
    z-index: 1;
  }
  .about .skill-container {
    margin-right: 100px;
  }
  .mobilenav {
    visibility: visible;
  }
  .wrap .home .text-area .main_info {
    font-size: 5vw;
  }
  .wrap .home .text-area .maininfo_sub {
    font-size: 3vw;
  }
  .about .skill-card {
    margin: 20px 10px 60px;
  }
  .scroll-bar {
    display: none;
  }
  .scroll { 
    display: none;
  }
}
@media screen and (max-width:768px) {
  .wrap .home .text-area {
    bottom: 0px;
    margin: 0 10px 30px 0;
  }
  .wrap .home .text-area .main_info {
    font-size: 7vw;
  }
  .wrap .home .text-area .maininfo_sub {
    font-size: 4vw;
  }
  .wrap .about .cardwrap {
    padding-top: 60px;
  }
  .about .card {
    margin: 10px;
    width: 300px;
    height: 350px;
  }
  .about .card .content {
    top: 160px;
  }
  .about .card .content .info .main_txt {
    font-size: 14px;
    margin-left: 18px;
  }
  .about .card .content .info li {
    font-weight: 500;
  }
  .work .pf-imgarea {
    margin-left: 40px;
    padding-top: 70px;
  }
  .work .pf-list {
    margin-right: 20px;
  }
  .work .drops1 .drop1 {
    width: 200px;
    height: 200px;
    top: 500px;
    left: 180px;
  }
  .work .drops2 .drop2 {
    top: 50px;
    width: 150px;
    height: 150px;
  }
  .drop1:nth-child(4) {
    transform: scale(0.5) translate(300px, 100px);
  }
  .drop2:nth-child(2) {
    transform: scale(0.5) translate(-220px, 120px);
  }
  .drop2:nth-child(3) {
    transform: scale(0.5) translate(120px, -250px);
  }
  .drop2:nth-child(4) {
    transform: scale(0.5) translate(260px, -20px);
  }
  .contact .sub-tit {
    right: -200px;
  }
  .contact .sub-tit li {
    font-size: 10px;
  }
  
}