.gnb {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  color: #fff;
}
.gnb .active {
  font-size: 32px;
}
#home {
  background-color: red;
  height: 100vh;
}
#about {
  background-color: yellow;
  height: 100vh;
}
#work {
  background-color: blue;
  height: 100vh;
}
#contact {
  background-color: cadetblue;
  height: 100vh;
}
